.product .img-container {
     height: 170px;
     position: relative;
     cursor: pointer;
}
.product .img-container .overlay {
     background: rgba(255, 255, 255, 0.3);
     z-index: 1;
     position: absolute;
     width: 100%;
     height: 100%;
     opacity: 0;
     transition: opacity 0.5s ease-in-out;
}
.product .img-container:hover .overlay {
     opacity: 1;
}
.product img {
     object-fit: contain;
}
.product h2 {
     font-size: 0.85rem;
     cursor: pointer;
     transition: color 0.3s ease-out;
}
.product h2:hover {
     color: #9b9494;
}
.product p {
     font-size: 0.95rem;
}
@media (max-width: 450px) {
     .product .img-container {
          height: 150px;
     }
}