.offcanvas {
    background: #000000 !important;
}
.list {
    list-style-type: none;
}
.list li {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    cursor: pointer;
    color: #ffffff;
}
.list li:hover {
    color: #cccccc;
    transition: color 0.5s ease-out;
}
